@model IEnumerable<Meetup>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Model Railroad Events & Gatherings</h1>
		<p class="lead text-muted">Your Source for Model Railroad Clubs and Events!</p>
		<p>
			<a href="/Meetup/Create" class="btn btn-primary my-2">Add New Event</a>
			<a href="/Home" class="btn btn-primary my-2">Home</a>
		</p>
	</div>
</section>

<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">

			@foreach (var item in Model)
			{
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img-top" style="aspect-ratio:1 ! important; padding: 5px;" width="225" src="@item.Image" alt="Event Logo or Image">
						<div class="card-body">
							<p class="card-text">@item.Title</p>
							<p class="card-text">@item.Description</p>
							<p class="card-text">@item.StartTime</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a asp-controller="Meetup" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
									<a asp-controller="Meetup" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
									<a asp-controller="Meetup" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
								</div>
								<small class="text-muted">@item.MeetupCategory</small>
							</div>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>
